<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/layouts/default">
<div layout:fragment="head" th:remove="tag">
  <title>ASRM</title>	
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta content="Author" name="WebThemez">
    <link href="/assets/air-datepicker/css/datepicker.min.css" rel="stylesheet" type="text/css">
  <style>
  .text-met{
 	color: #6b6767;
    font-size: 16px;
    font-weight: 400;
  }

  .datepicker-here {
      border-color: #1a83f4 !important;
  }
  </style>
</div>
<body id="body">
  <!--==========================
    Hero Section
  ============================-->
  <p layout:fragment="head_top">
		<span><img src="/assets/images/second-nb.png"></span> DASHBOARD
  </p>
	
  <div id="page" layout:fragment="content"  th:remove="tag">
  	<div class="main-form-asrm">
		<div class="row">
			
			<div class="col-lg-4 col-md-4" th:each="leader : ${empservices.ListLeader()}">
				<div class="row">
					<div class="col-lg-12 col-md-5 col-xs-12">
						<div class="inner-table-sec-admin">
							<table class="table">
								<b class="nb-fist-boc" th:text="${leader.getName() + ' ' + leader.getLname()}"> AVINASH</b>
								<tbody th:with="count=0">
									 <tr>
									    <td colspan="2">
									       <div class="row">									     
												<div class="col-md-6">
													<h5 class="text-met">Today Team Meeting</h5>
													<h1 class="text-center" th:text="${empservices.leadcount(leader.getEmp_Id())}">08</h1>
											  	</div>
												<div class="col-md-6">
													<h5 class="text-met text-center" >Month Closing</h5>
													 <h1 class="text-center" th:text="${empservices.MonthLeadDone(leader.getEmp_Id())}">19</h1>
												</div>
											</div>
									     </td>
									</tr>
									<tr th:each="rm,iterator : ${empservices.ListRm(leader.getEmp_Id())}">
									    <td th:text="${iterator.index+1}">1</td>
									    <td th:text="${rm.getName() + ' ' + rm.getLname()}">Kaushik Lakhani</td>
									</tr>
								</tbody>
							 </table>
							 <form autocomplete="off" th:action="@{/manager/report/__${leader.getEmp_Id()}__}">
								 <div class="row">
                                     <div class='col-sm-10' style="margin: auto">
										 <div class="form-group">
										      <div class='input-group date date-timepicker'>
										          <input type='text' data-range="true" data-multiple-dates-separator=" - " data-language="en"  class="form-control datepicker-here" name="daterange" placeholder="Select Date " />
										       </div>
										  </div>
									 </div>
								</div>
								 <button type="submit" class="btn btn-primary nb-login-arh icon-left nb-secel-btn"> Download Excel</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 </div>
  
  <div  layout:fragment="foot" th:remove="tag">
  <script src="/assets/air-datepicker/js/datepicker.js"></script>
  <script src="/assets/air-datepicker/js/i18n/datepicker.en.js"></script>
  <script>
  $('.datepicker-here').datepicker({
	    autoClose: true,
	    dateFormat: "yyyy/mm/dd"
	});
  </script>
  </div>
</body>
</html>
