@media (min-width: 1300px) {}

@media (min-width: 1600px) {
}

/* Portrait tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */

@media (max-width: 991px) {
    .nav-second-tab {
    float: left;
    width: 36%;
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid #ababab;
    }
    .login-arham-inner img {
    width: 100%;
    height: 218px;
    }
    .login-arham-inner img {
    width: 100%;
    height: 352px;
    }
    .left-content-center h2 {
    color: #FFf;
    font-size: 32px;
    margin: 0;
    }
    .left-content-center h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 8px;
    }
    .right-login-content h1 {
    color: #0e3a35;
    margin: 12px 0px;
    text-shadow: 2px 3px 2px #b8da3e;
    }
    .right-login-content h3 {

    font-weight: 600;
    color: #344f4a;
    font-size: 17px;
    margin: 20px 0px;
    }
    .get-subscribe .form-control {
    height: 45px;
    border: 2px solid #344f4a;
    width: 100%;
    margin: 0 auto;
    padding-left: 35px;
    margin-bottom: 29px;
    border-radius: 14px;
    }
    .img-chart-excel img {
    width: 100%;
    margin: 0 auto;
    }
    .img-chart-excel-1 img {
    width: 100%;
    margin: 0 auto;
    }
    .login-arham-inner-right {
    transform: scale(1);
    padding: 25px 0px 0px;
    }
    section#login-arhamshare {
    height: 100%;
    display: initial;
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0px 0px;
    }
    .login-arham-main {
    box-shadow: none;
    transform: scale(1);
    display: initial;
    align-items: center;
    }
    .nav-first-tab {
    float: left;
    width: 25%;
    }
    .nav-third-tab {
    margin-top: 12px;
    text-align: right;
    float: right;
    width: auto;
    }
    .date-excel-1 {
    margin: 12px 0px !important;
    }
    .left-lead-form {
    background: #dee82d;
    width: 8%;
    height: auto;
    float: left;
    }
    .left-lead-icon li a img {
    padding: 6px;
    }
    .main-form-asrm{
        margin: 8px 4px 0px 0px;
    }
    .date-excel-1 li:nth-child(even) {
    font-size: 33px;
    font-weight: bold;
    color: #000;
    }
    .date-excel-1{padding-bottom:0;}
}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .right-lead-form {
    width: 100%;
    float: left;
        background: #f1f0f0;
    }
    .left-lead-form{display:none}
    .nav-first-tab{display:none}
    .nav-second-tab{display:none}
    .nb-mobile-asrm{
    display:block;
    float: left;
    font-size:30px;
    cursor:pointer;
    }
    .main-form-asrm {
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: rgb(241, 240, 240);
    box-shadow: none;
    }
    .form-asrm-title h2 {
    border-bottom: 2px solid #9d9c9c;
    font-weight: 400;
    color: #494949;
    font-size: 22px;
    padding-bottom: 11px;
    }
    .nb-mobile-asrm img {
    width: 34px;
    margin-left: 10px;
    height: 50px;
    }
    .right-nav-top {
    background: #494949;
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    height: 49px;
    }
    .nb-mobile-asrm img {
    width: 30px;
    margin-left: 10px;
    height: 40px;
    }
    .nb-login-nb5 {
    position: relative;
    width: 100%;
    margin-top: 39px;
    }
    .inner-table-sec{    max-height: 312px;}
    .form-asrm-start label {
    font-weight: 400;
    color: #636363;
    font-size: 14px;
    }
}

/* Landscape phones and smaller */

@media (max-width: 576px) {
    div#myDropdown {
    top: 38px;
    left: -50px;
    border-radius: 11px;
    }
    div#myDropdown:after{left: auto;}
}

@media (max-width: 320px) {

}
