:root {
    font-size: 16px
}

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Gotham';
    /*font-weight: 300;*/
    font-style: normal;
    color: #999999
}


iframe {
    border: none
}

a,

b,
div,
li,
ul {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -moz-outline-: none
}

a:active,
a:focus,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:active,
textarea:focus,
textarea:hover {
    -moz-outline: none;
    outline: none
}

embed,
img:not([draggable]),
object,
video {
    max-width: 100%;
    height: auto
}

a {
    text-decoration: none;
	outline: 0
}

a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: none;
	outline: 0
}

img {
	border: none;
	max-width: 100%;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: auto
}
::placeholder {
  color: #000000 !important
  font-weight:500 !important;
}
label {
    font-weight: 600;
    color: #636363;
}

li,
ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.clear-both:after,
.clear-both:before {
	display: table;
	content: "";
	clear: both
}

button:focus {
	outline: none
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BoldItalic.woff') format('woff'),
        url('../fonts/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/../fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BookItalic.woff') format('woff'),
        url('../fonts/Gotham-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('../fonts/Gotham-LightItalic.woff') format('woff'),
        url('../fonts/Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham-Black.woff') format('woff'),
        url('../fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('../fonts/Gotham-UltraItalic.woff') format('woff'),
        url('../fonts/Gotham-UltraItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('../fonts/Gotham-ThinItalic.woff') format('woff'),
        url('../fonts/Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.woff2') format('woff2'),
        url('../fonts/Gotham-Thin.woff') format('woff'),
        url('../fonts/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


/* ======================= login form ============================*/
section#login-arhamshare {
    height: 100vh;
    display: flex;
    align-items: center;
}
.login-arham-inner img {
    width: 100%;
    height: 631px;
}
.login-arham-inner-right {
    text-align: center;
}
.logo-main-nb img {
    border-radius: 10px;
    width: 300px;
}
.right-login-content h1 {
    color: #0e3a35;
    margin: 0;
    text-shadow: 2px 3px 2px #b8da3e;
}
.right-login-content h3 {
    font-weight: 600;
    color: #344f4a;
    font-size: 17px;
}


.right-login-content p {
    font-weight: 200;
    color: #000;
}
.get-subscribe {
    position: relative;
}
.get-subscribe .form-control {
    height: 45px;
    border: 2px solid #344f4a;
    width: 56%;
    margin: 0 auto;
    padding-left: 35px;
    margin-bottom: 20px;
    border-radius: 14px;
}
.left-content-center h2 {
    color: #FFf;
    font-size: 54px;
    margin: 0;
}
.left-content-center h3 {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 600;
    color: #fff;
}
.left-content-center {
    position: absolute;
    top: 36%;
    left: 0;
    vertical-align: middle;
    right: 0;
    bottom: 0;
}
.login-arham-inner {
    position: relative;
    text-align: center;
}
.login-arham-main{
	    box-shadow: 3px 3px 16px 3px #959595;
	    transform: scale(0.8);
    display: flex;
    align-items: center;
}
.login-arham-inner-right {
    transform: scale(1.2);
}
.login-arham-main .col-md-5 {
    padding: 0;
}
button.nb-login-arh {
    background: #344f4a !important;
    border-radius: 12px;
    padding: 7px 74px;
    font-size: 20px !important
}
.get-subscribe .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #dee82d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #e6ed60ab;
}
/* =============================  ASRM Form ================================*/


.left-lead-form {
    background: #dee82d;
    width: 5%;
    height: auto;
    float: left;
}
section#new-lead-form {
    width: 100%;
    display:flex;
    height: 100%;
}
.right-lead-form {
    width: 95%;
    float: left;
}
.right-nav-top {
    background: #494949;
    padding: 13px;
    display: inline-block;
    width: 100%;
}
.nav-first-tab {
    float: left;
    width: 40%;
}
.nav-second-tab {
    float: left;
    width: 45%;
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid #ababab;
}
.nav-third-tab {
    float: left;
    padding-left: 10px;
    width: 15%;
}
.main-form-asrm {
    height: auto;
    padding: 17px;
    margin: 15px 4px 0px 4px;
    border-radius: 30px 30px 0px 0px;
    background-color: rgb(241, 240, 240);
    box-shadow: 0px 0px 10px 0px rgba(107, 101, 101, 0.75);
}
.form-asrm-title h2 {
    border-bottom: 2px solid #9d9c9c;
    font-weight: 400;
    color: #494949;
}
.form-asrm-start input {
    background: #d8d8d8;
}
.asrm-btn-footer {
    text-align: center;
}
.left-lead-icon li a img {
    padding: 10px;
}
.left-lead-icon li {
    border-bottom: 2px solid #fff;
}
.left-lead-icon li a {
    border-radius: 50%;
    display: inherit;
        margin: 8px 8px;
    width: 44px;
    height: 44px;
    background: #494949;
    box-shadow: 0px 1px 3px 1px #fff9f9;
}
.nav-first-tab p {
    margin: 0;
}
.nav-second-tab p {
    margin: 0;
}
.nav-third-tab p {
    margin: 0;
}
.nav-first-tab img {
    width: 13px;
    margin-top: -3px;
    margin-right: 6px;
}
.nav-first-tab p {
    color: #fff;
}
.nav-second-tab p {
    color: #fff;
}

.nav-third-tab a {
    color: #fff;
}
.nav-third-tab span {
    background: #fff;
    color: #494949;
    padding: 5px 8px;
    border-radius: 50%;
    margin-left: 9px;
    font-size: 17px;
}
.inner-table-sec table.table {
    color: #000;
}
.inner-table-sec {
    background-color: #F1F0F0;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #767765;
    width: 100%;
    overflow: auto;
    max-height: 300px;
    margin-bottom: 16px;
}
.main-table-form2 {
    padding: 32px 0px;
}
b.nb-fist-boc {
    width: 100%;
    text-align: center;
        color: #494949;
    display: block;
    padding: 14px 0px;
}
.main-table-form2 .row {
    display: flex;
    flex-wrap: wrap;
}

/* ==================admin ==================*/


table.table {
    color: #000;
}
.inner-table-sec-admin {
    background-color: #ccc;
    padding-bottom: 14px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 0px #767765;
    width: 100%;
    margin: 0 auto;
        margin-bottom: 25px;
}
button.nb-secel-btn {
    text-align: center;
    border-radius: 50px;
    margin: 0 auto;
    font-size: 17px !important;
    display: block;
    padding: 9px 32px !important;
    background-color: #848383 !important;
}
.inner-table-sec-admin tr{border-top: 1px solid #fff !important;}
.inner-table-sec-admin td {
    font-size: 19px;
}
.inner-table-sec-admin b.nb-fist-boc{
    font-size: 24px;
    color: #000;
}
.date-excel-1 {
    background-color: #ccc;
    padding-bottom: 14px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 0px #767765;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.date-excel-1 h3 {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #000;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}
.date-excel-1 li:nth-child(even) {
    font-size: 46px;
    font-weight: bold;
    color: #000;
}
.date-excel-1 li:nth-child(odd) {
        color: #6b6767;
}
.arhm-select-city {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.arhm-select-city label {
    font-size: 22px;
    color: #494949;
}
.img-chart-excel img {
    width: 65%;
    margin: 0 auto;
}
.img-chart-excel {
    text-align: right;
    margin-top: 31px;
}
.img-chart-excel-1 img {
    width: 65%;
    margin: 0 auto;
}
.img-chart-excel-1 {
    text-align: left;
    margin-top: 31px;
}
.table-condensed td {
    padding: 7px;
    border: 1px solid #cbd60f;
}
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    padding: 13px;
}
div#datetimepicker1 {
    width: 50%;
    margin: 0 auto;
}
#datetimepicker1 input {
    border-radius: 50px;
    text-align: center;
    background-color: #f1f1f1;
}
div#datetimepicker2 {
    width: 50%;
    margin: 0 auto;
}
#datetimepicker2 input {
    border-radius: 50px;
    text-align: center;
    background-color: #f1f1f1;
}
.nb-bottom-nbnb {
    text-align: center;
    margin-top: 50px;
}
#scrool-gradient{

}
#scrool-gradient::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #dee82d;
}

#scrool-gradient::-webkit-scrollbar
{
	width: 12px;
	background-color: #dee82d;
}

#scrool-gradient::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/* =========mobile-sliderbar ============*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background: linear-gradient(to bottom, rgb(224, 234, 39) 0%, rgb(158, 165, 18) 185%);*/
    background-color: #dee82d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/*#.sidenav a {
#  padding: 8px 8px 8px 32px;
#  text-decoration: none;
#  font-size: 25px;
#  color: #818181;
#  display: block;
#  transition: 0.3s;
#}*/

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.nb-mobile-asrm{
    display:none;
}


/*========================dropdown =======================*/
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
div#myDropdown:after {
    content: "";
    position: absolute;
    top: -28px;
    left: 50%;
    right: 0;
    z-index: 9999;
    width: 20px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 13px solid transparent;
    border-bottom: 30px solid #fff;
    /* transform: rotate(180deg); */
    transition: 0.3s;
    height: 20px;
}
div#myDropdown {
    top: 38px;
    border-radius: 11px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    color: black;
    border-bottom: 1px solid #d6d6d6;
    text-decoration: none;
    padding: 13px 7px;
    display: block;
}
/*.dropdown-content a:hover{
   background: #e0e0e0; 
}*/


/*.dropdown a:hover {background-color: #ddd;}*/

.show {display: block;}
#scrool-gradient {
    overflow-x: hidden;
}
.nb-login-nb5 {
    position: relative;
    width: 100%;
    bottom: -91px;
    margin-top: 40px;
}



/*==============password chnage popup ===================*/
.pwd-inner-asrm {
    background: #fff;
    border-radius: 7px;
    padding: 61px 25px;
    height: 100%;
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
    /* padding: 113px 60px; */
    width: 100%;
    margin: 0 auto;
}
.update-pwd-asrm {
    text-align: center;
    padding: 68px 0px;
} 
.update-pwd-asrm img {
    display: block;
    margin: 0 auto;
    width: 65px;
    margin-bottom: 15px;
}
.asrm-popup {
    background: transparent;
    width: 118vh;
    height: 77vh;
    border: transparent;
    right: 24%;
}
.asrm-popup .modal-body {
    padding: 32px;
}
#myModal button.close {
    position: absolute;
    right: 14px;
    top: 6px;
    z-index: 1;
}
#myModal12 button.close {
    position: absolute;
    right: 14px;
    top: 6px;
    z-index: 1;
}
.login-form-1 h3 {
    text-align: left;
    color: #333;
    font-size: 19px;
}
.login-form-5 {
    margin-top: 64px;
    /* margin-left: 20px; */
}
.login-form-1 .form-group {
    margin: 19px 0px;
}
.login-form-2 strong {
    color: #000;
    font-size: 20px;
    line-height: 2;
}

.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #204637;
    width: 100%;
    border-radius: 5px;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.login-form-2 p {
    font-size: 18px;
    color: #404040;
    margin:0;
}
.asrm-popup button.close {
    background-color: #f3ff20;
    padding: 9px 17px;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    opacity: 1;
    font-size: 39px;
    color: #000;
    right: 6px;
}
.color-cnf-g{color: red !important;}
.datepicker table tr td.today {
    color: #000;
    background-color: #eaf173 !important;
    border-color: #ffb733;
}
span.btn-fix-login {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 18px;
}