<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/layouts/default">
<div layout:fragment="head" th:remove="tag">
  <title>ASRM</title>	
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta content="Author" name="WebThemez">
</div>
<body id="body">
  <p layout:fragment="head_top">
		 ADMIN DASHBOARD
  </p>
  
  <div id="page" layout:fragment="content"  th:remove="tag">
  	<div class="container-fluid">
			<div class="main-form-asrm">
				<form action="/admin/saveemp" method="POST" th:object="${emp}">
					<div class="form-asrm-title">
						<h2>Add Employee</h2>
					</div>
					<div class="alert alert-success" th:if="${Success != null}"  th:text="${Success}">
					
					</div>
					<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p> 
					</div>
					<div class="form-asrm-start">
						<div class="row">
							<div class="col md-6">
								<div class="form-group">
									<label for="name">NAME </label> 
									<input type="text" class="form-control" id="email" name="name">
								</div>
							</div>
							<div class="col md-6">
								<div class="form-group">
									<label for="lname">LAST NAME </label> 
									<input type="text" class="form-control" name="lname">
								</div>
							</div>
						</div>
					</div>
					<div class="hr-border-nb">
						<hr>
					</div>
					<div class="form-asrm-start">
						<div class="row">
							
							<div class="col md-6">
								<div class="form-group">
									<label for="pwd">EMAIl</label> 
									<input type="email" class="form-control" name="email" placeholder="Enter Email">
								</div>
							</div>
							
							<div class="col md-6">
								<div class="form-group">
									<label for="pwd">MOBILE NUMBER</label> 
									<input type="number" class="form-control" name="mno" placeholder="Enter Mobile Number">
								</div>
							</div>
							
							<div class="col md-6">
								<div class="form-group">
									<label for="designation">DESIGNATION</label> 
									<select class="form-control" name="designation" id="deg">
										<option value="RM">Relationship Manager</option>
										<option value="LD">Team Leader</option>
										<option value="MR">Manager</option>
									</select>
								</div>
							</div>
						</div>

					</div>

					<div class="hr-border-nb">
						<hr>
					</div>
					<div class="form-asrm-start">
						<div class="row">
							<div class="col md-6">
								<div class="form-group">
									<label for="email">EMPLOYEE CODE</label> 
									<input type="text" class="form-control" name="Emp_Id" id="emp_id" placeholder="Enter Employee Code" readonly="readonly">
								</div>
							</div>
							<div class="col md-6">
								<div class="form-group">
									<label for="designation">HIGHER DESIGNATION PERSON</label> 
									<select class="form-control" name="manager_id" id="mgr_id">
									
									</select>
								</div>
							</div>
						</div>
					</div>
					
					<div class="asrm-btn-footer">
						<input type="hidden" class="form-control" name="password" value="admin717">
						<button type="reset" class="btn btn-dark" style="margin-right: 10px;">CANCLE</button>
						<button type="submit" class="btn btn-dark">SAVE</button>
					</div>
				</form>
			</div>
		</div>
  </div>
<script layout:fragment="foot">
$('#deg').trigger('change');
$(document).ready(function(){
	$("#deg").trigger('change');
});
$(document).on('change', '#deg', function () {
	var desg=this.value;
	var status=true;
	if(desg!="" && status==true)
	{
		status=false;
		$.ajax({  
			type : "POST", 
			dataType: 'json',
			url : "/api/getEmpCode",  
			data:{role:desg},
			success : function(response) 
			{   
				var a=JSON.stringify(response);
				var t = JSON.parse(a);
				$("#emp_id").val(t.newempid);
				$('#mgr_id').empty();
				for(var i=0;i<t.emps.length;i++)
				{
					$('#mgr_id').append($("<option></option>").attr("value",t.emps[i].emp_Id).text(t.emps[i].name)); 
				}
				status=true;
			} 	
		});
	}
				
});
</script>
</body>
</html>
