<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/default">
<div layout:fragment="head" th:remove="tag">
  <title>ASRM</title>	
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta content="Author" name="WebThemez">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
  <style>
  .main-table-form2 {
    padding: 32px 0px;
    overflow: hidden;
    height: 90vh;
	overflow-y: scroll;
	}
	.circle-icon{
		background: #626262;
	    border-radius: 50%;
	    vertical-align: middle;
	    padding: 7px;
	    padding-top: 6px;
	    padding-left: 6px;
	    font-size: 18px;
	    color: white;
	}
	body{
		overflow-y: hidden;
		}
  </style>
</div>
<body id="body">
  <!--==========================
    Hero Section
  ============================-->
  <p layout:fragment="head_top">
		 DASHBOARD
  </p>
	
  <div id="page" layout:fragment="content"  th:remove="tag">  	
  	 <div class="main-table-form2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="inner-table-sec" id="scrool-gradient">
                                <table class="table">
                                    <b class="nb-fist-boc">
										THIS MONTH CLIENT ACQUISTION
									</b>
                                    <tbody>
                                        <tbody th:with="count=0">
                                            <tr th:each="moc,iterator : ${month_closes}">
                                                <td th:text="${iterator.index+1}"></td>
                                                <td th:text="${moc.getFname()}"></td>
                                                <td th:text="${moc.getMargin()}">25000/-</td>
                                                <td th:text="${moc.getDate()}">20/09/2019</td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                            
                             <div class="inner-table-sec" id="scrool-gradient">
                                <h2></h2>
                                <table class="table">
                                    <b class="nb-fist-boc">
											MY LEAD
									</b>
                                    <tbody th:with="count=0">
                                      	<tr th:each="moc,iterator : ${expectedrev}">
                                             <td th:text="${iterator.index+1}"></td>
                                             <td th:text="${moc.getFname() + ' ' + moc.getLname()}"></td>
                                             <td th:text="${moc.getExp_rev()}">25000/-</td>
                                             <td><a  th:if="${moc.getLead_status() != 'DN'}" th:href="@{'lead/edit/' + ${moc.getId()}}"><i class="glyphicon glyphicon-pencil circle-icon"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inner-table-sec" id="scrool-gradient">
                                <h2></h2>
                                <table class="table">
                                    <b class="nb-fist-boc">TODAY MEETING </b>
                                    <tbody th:with="count=0">
	                                        <tr th:each="moc,iterator : ${todaymet}">
	                                              <td th:text="${iterator.index+1}"></td>
	                                             <td th:text="${moc.getFname() + ' ' + moc.getLname()}"></td>
	                                             <td th:text="${'+91 ' + moc.getCno()}"></td>
	                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="inner-table-sec" id="scrool-gradient">
                                <h2></h2>
                                 <table class="table">
                                    <b class="nb-fist-boc">FUTURE MEETING </b>
                                    <tbody th:with="count=0">
	                                       <tr th:each="fet,iterator : ${feture}">
	                                             <td th:text="${iterator.index+1}"></td>
	                                             <td th:text="${fet.getFname() + ' ' + fet.getLname()}"></td>
	                                             <td th:text="${fet.getFollow_date()}"></td>
	                                             <td th:text="${'+91 ' + fet.getCno()}"></td>
	                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="inner-table-sec" id="scrool-gradient">
                                <h2></h2>
                                <table class="table">
                                    <b class="nb-fist-boc">
											Export Csv
										</b>
                                    <tbody>
                                      	<tr>
                                           <td>
                                           		<form action="LeadExport" method="POST">
                                           		<div class="row">
                                           			<div class="col-md-6">
                                           				<div class="form-group">
															<label for="email">Start From </label> 
															<input type="text" class="form-control" id="sdate" name="sdate" placeholder="Select start date">
														</div>
                                           			</div>
                                           			<div class="col-md-6">
														<div class="form-group">
															<label for="pwd">End Form</label>
															<input type="text" class="form-control" id="edate" name="edate" placeholder="Select end date">
														</div>
													</div>
												</div>
												<div class="asrm-btn-footer">
													<button type="submit" class="btn btn-dark">GO</button>
												</div>
                                           		</form>
                                           </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id = "mypie" style = "width: 550px; height: 400px; margin: 0 auto">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>

<script layout:fragment="foot">
$(document).ready(function(){
	$('#sdate').datepicker({
		format:'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true
    });
	
	$('#edate').datepicker({
		format:'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true
    });
});
google.charts.load('current', {packages: ['corechart']});
function drawChart() {
    // Define the chart to be drawn.
    var data = google.visualization.arrayToDataTable([
        ['Lead', 'Number'],
        ['Done',  4],
        ['Prospect',  15],
        ['Not interested',  14]
    ]);

    var options = {title: 'Lead (in month)',vAxis: {gridlines: { count: 3}}};

    // Instantiate and draw the chart.
    var chart = new google.visualization.ColumnChart(document.getElementById('mypie'));
    chart.draw(data, options);
}
google.charts.setOnLoadCallback(drawChart);
</script>
</body>
</html>
