<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<div layout:fragment="head" th:remove="tag">
	<title>ASRM-Lead Form</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">
	<meta content="Author" name="WebThemez">
	<style type="text/css">
	.error-text{
		color: red;
	    font-size: 12px;
	    margin-left: 4px;
	}
	.main-form-asrm{
		height: 90vh !IMPORTANT;
		overflow: hidden;
   	 	overflow-y: scroll;
	}
	body{
		overflow-y: hidden;
	}
	input[name="fname"],input[name="lname"]{
	 	text-transform: capitalize;
	}
	#add_msg,#lname_msg,#mno_msg,#fname_msg{
		display:none;
	}
	.invalid-feedback{
		display: block !important;
	}
	</style>
</div>
<body id="body">
	<p layout:fragment="head_top">
		 NEW LEAD
	</p>
	<div id="page" layout:fragment="content" th:remove="tag">
		<div class="container-fluid">
			<div class="main-form-asrm" id="scrool-gradient">
				<form autocomplete="off" id="lead" action="lead" method="POST" th:object="${lead}">
					<div class="form-asrm-title">
						<h2>NEW LEAD</h2>
					</div>
					<div class="alert alert-success" th:if="${Success != null}"  th:text="${Success}">
					
					</div>
					<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p> 
					</div>
					<div class="form-asrm-start">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="email">OWNER NAME </label> <input type="text"
										class="form-control" id="email"
										th:value="${session.emp.getName() + ' ' + session.emp.getLname()}"
										readonly>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="pwd">MEETING DATE</label> 
									<input type="text" class="form-control" name="update_time" id="mdate" th:value="${#dates.format(new java.util.Date(), 'dd-MM-yyyy')}" />
								</div>
							</div>
						</div>
					</div>
					<div class="hr-border-nb">
						<hr>
					</div>
					<div class="form-asrm-start">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="email">FIRST NAME </label> 
									<input type="text" id="fname" class="form-control" name="fname" placeholder="Enter Name">
									<div id="fname_msg">Please enter name.</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="pwd">LAST NAME </label>
									 <input type="text" id="lname" class="form-control" name="lname" placeholder="Enter Name">
									 <div id="lname_msg">Please enter name.</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="pwd">CONTACT</label> 
									<input type="text" id="mno" class="form-control" name="cno" placeholder="Enter Contact">
									<div id="mno_msg">Please provide valid mobile number.</div>
								</div>
							</div>
						</div>

					</div>

					<div class="hr-border-nb">
						<hr>
					</div>
					<div class="form-asrm-start">

						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="email">LEAD SOURCE</label> 
									<select class="form-control" name="lead_source">
										<option value="TC">Telecalling</option>
										<option value="CC">Cold calling</option>
										<option value="RF">References</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="pwd">LEAD STATUS</label> 
									<select class="form-control" name="lead_status">
										<option value="DN">Done</option>
										<option value="PR">Prospect</option>
										<option value="NI">Not interested</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="pwd">MEETING TYPE</label> 
									<select class="form-control" name="meeting_type" id="mtype">
										<option value="NM">New meeting</option>
										<option value="FP">Follow up</option>
										<option value="JC">Joint call</option>
										<option value="SC">Service</option>
										<option value="FM">Fresh Meeting</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12 exp-m">
								<div class="form-group">
									<label for="email">EXPECTED MARGIN</label> 
									<input type="text" id="marg" class="form-control" name="margin" placeholder="Enter Margin" value="0">
								</div>
							</div>
							<div class="col-md-6 col-sm-12 exp-r">
								<div class="form-group">
									<label for="pwd">EXPECTED REVENUE</label> 
									<input type="text" id="exrev" class="form-control" name="exp_rev" placeholder="Enter Revenue" value="0">
								</div>
							</div>
							
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="pwd">FRESH / FOLLOW UP DATE</label> 
									<input type="text" class="form-control" name="follow_date" id="fdate" placeholder="Enter Date">
								</div>
							</div>
						</div>
					</div>


					<div class="hr-border-nb">
						<hr>
					</div>
					<div class="form-asrm-start">

						<div class="row">
							
							<div class="col-md-6 col-sm-12 part_name" style="display: none">
								<div class="form-group">
									<label for="pwd">PARTNER NAME</label> 
									<input type="text"  class="form-control" name="joint_leader_name" placeholder="Enter Partner Name">
								</div>
							</div>
							
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="email">ADDRESS</label> 
									<input type="text" id="add" class="form-control" name="address" placeholder="Enter Address">
									<div id="add_msg">Please enter address</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label for="pwd">Remark</label> 
									<input type="text" class="form-control" name="description" placeholder="Enter Description">
								</div>
							</div>
						</div>
					</div>

					<div class="asrm-btn-footer">
						<button type="button" id="reset" class="btn btn-dark" style="margin-right: 10px;">CANCLE</button>
						<button type="submit" class="btn btn-dark">SAVE</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script layout:fragment="foot">
$(document).on('change', '#mtype', function () {
	var ser=this.value;
	if(ser=="SC")
	{
		$(".part_name").hide();
		$('#marg,#exrev').prop('readonly',true);
	}
	if(ser=="NM" || ser=="FP" || ser=="FM")
	{
		$(".part_name").hide();
		$('#marg,#exrev').prop('readonly',false);
	}
	if(ser=="JC")
	{
		$(".part_name").show();
		$('#marg,#exrev').prop('readonly',true);
	}
});
$(document).ready(function(){
	$("#reset").click(function(){
		window.location.href =window.location.origin+"/home";
	});
	var start_date=new Date();
	if(start_date.getDay()==1)
	{
		start_date.setDate(start_date.getDate() - 2);
		var end_date=new Date();
		$('#mdate').datepicker({
			format:'dd-mm-yyyy',
	        autoclose: true,
	        todayHighlight: true,
	        startDate:start_date,
	        endDate:end_date
	    });
	}
	else
	{
		$('#mdate').prop('disabled', true);
	}
	
	$('#fdate').datepicker({
		format:'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true
    });
	
	
	$('#lead').submit(function() {
	    var res = true;
	    $("#add_msg,#lname_msg,#mno_msg,#fname_msg").removeClass('invalid-feedback');
	    $("#fname,#lname,#mno,#add").removeClass('is-invalid');
	    
	    var fname=$("#fname");
		var lname=$("#lname");
		var   mno=$("#mno");
		var   add=$("#add");
		
		if(add.val().trim().length < 1){
			res=false;
			$(add).addClass('is-invalid');
			$("#add_msg").addClass('invalid-feedback');
		}
		
		if(mno.val().trim().length!=10){
			res=false;
			$(mno).addClass('is-invalid');
			$("#mno_msg").addClass('invalid-feedback');
		}
		
		if(lname.val().trim().length < 1){
			res=false;
			$(lname).addClass('is-invalid');
			$("#lname_msg").addClass('invalid-feedback');
		}
		
		if(fname.val().trim().length < 1){
			res=false;
			$(fname).addClass('is-invalid');
			$("#fname_msg").addClass('invalid-feedback');
		}
		$('#scrool-gradient').animate({scrollTop: $(fname).offset().top}, 1000);
	    return res; 
	});
	
});

</script>
</html>
