
<!doctype html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>ARHAMSHARE</title>

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>
	<section id="login-arhamshare">
		<div class="container">
			<div class="row">
				<div class="login-arham-main">
					<div class="col-md-5">
						<div class="login-arham-inner">
							<img src="assets/images/login-left.jpg">
							<div class="left-content-center">
								<h2>ARHAM SHARE</h2>
								<h3>Reletionship Management</h3>
								<span class="btn-fix-login">Help Line: 89 800 80 847 </span>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="login-arham-inner-right">
							<div class="logo-main-nb">
								<img src="assets/images/logo.jpg">
							</div>
							<div class="right-login-content">
								<h1>ASRM</h1>
								<h3>ARHAM SHARE RELATIONSHIP MANAGEMENT</h3>
							</div>

							<div class="login-arham-form">
								<font color="red"  th:text="${errorMessage}"></font>
								<form action="login" class="get-subscribe my-newsletter" method="POST" novalidate="true">
									<input type="text" name="empid" id="empid" placeholder="Usercode" class="form-control">
									<input type="password" name="pass" id="pass" placeholder="Password" class="form-control"> 
									<label for="sub-input-two"></label>
									<button type="submit" class="btn btn-primary nb-login-arh icon-left">LOGIN</button>
								</form>
							</div>
						</div>
						<div  class="nb-login-nb5">
                                  <div class="text-center"> Saavaj infotech</div>
                                  <div class="text-center"> Banglore | Ahmedabad </div>
                                  <div class="text-center"> Kuberji group</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>